*{
	transition: all .2s;
}
.clear {
	clear:both;
}
body {
  background-color:#FFF8DC;
}


.header {
  font-size:50px;
  padding: 8px;
  text-align: center;
  float: center;
  text-shadow: 5px 5px #000000;
  background:url(100.jpg) 100%;
  height:200px;
  width:100%;
  margin-bottom:5px;
  color:#FFFFFF;
  margin-left: 0px;
  margin-right: 0px;
}
.dws-menu *{
	margin:0;
    padding:0;
}
.dws-menu ul,
.dws-menu ol{ 
list-style:none;
}
.dws-menu > ul{
	display:flex;
	justify-content:center;
}
.dws-menu > ul li a{
	display:block;
	background: #FFF8DC;
	padding:15px 50px 15px 50px;
	font-size: 20px;
	color:#000000;
	text-decoration:none;
	text-transform:uppercase;
}
.dws-menu > ul li{
	position:relative;
}
.dws-menu > ul li a i.fa{
	position:absolute;
	top:15px;
	left:12px;
	font-size: 18px;
}
.dws-menu li a:hover{
	background:#EDDA74;
	color:#FFFFFF;
	transition:all 0.3s ease;
}	
.sideleft{
  background: #FFF8DC;
  width: 40%; 
  margin-top: 5px;
  padding:1px 0;
  float:left;
  text-align: justify;
  text-align:center;
  color:black;
  height:350 px;
  font-size:30px;
  font-family:Courier New;
  text-decoration:none;
}
.content{
	 background: #FFF8DC;
  width: 59%; 
  height:350 px;
  margin: .3vw;
  float:right;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display:-webkit-box;
  display: flex;
}
.content div{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto;
	width:200px;
	margin: .5vw;
	max-height: 350 px;
}
.content div img{
	width:100%;
	height: auto;
}
.content1{
	 background: #FFF8DC;
  margin: .3vw;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display:-webkit-box;
  display: flex;
}
.content1 div{
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto;
	width:200px;
	margin: .5vw;
}
.content1 div img{
	width:100%;
	height: auto;
}
.footer {
  background-color: #FFF8DC;
  width:100%;
  height:100px;
  margin-top: 5px;
  text-decoration:none;
}
.footer div{
	display:block;
	float:center;
	position:relative;
	text-align: center;
	padding:8px;
	text-decoration:none;
	color:black;
}



